html,
body,
#root {
	height: 100%;
	background-color: #f1f5fa;
}

.App {
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.body-container {
	display: inline-block;
	width: 75%;
	margin: 0 auto;
	height: 100%;
	background-color: white;
	padding: 15px;
	margin: 15px;
}

.App-header {
	background-color: #3d0099;
	display: flex;
	align-items: center;

	color: white;
	width: 100%;
	height: 75px;
	font-family: "Barlow";
}

.App-title {
	font-size: 1.5em;
	padding-left: 50px;
}

.nav {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-bottom: 2px solid #1d0772;
	padding-bottom: 10px;
}

.nav-items {
	color: #171001;
	padding: 20px;
	font-weight: bold;
	font-size: 1.25rem;
	cursor: pointer;
	transition: all 0.3s;
	opacity: 0.8;
	font-family: "Barlow";
}

.nav-items.active {
	background-color: #a087ff;
	color: white;
}

.nav-items:hover {
	transform: scale(1.1);
	opacity: 1;
}

.chart {
	width: 100%;
	display: inline-block;
	float: left;
	position: relative;
	margin-bottom: 15px;
	margin-top: 15px;
}

.chart-heading {
	font-size: 1.5em;
	margin-bottom: 15px;
	color: #171001;
}
